@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-5">Техническая поддержка:</h1>
<h2 class="display-6 text-dark text-center" >mittoface@mail.ru</h2>
<h2 class="display-6 text-dark text-center">zajnullin.v@edu.narfu.ru</h2>