@page "{id:int?}"
@model Hostels.WebApp.Pages.Guides.Services.Edit

<form method="post">
    <input type="hidden" asp-for="Entity.Id"/>
    <div class="mb-3">
        <label asp-for="Entity.Title"></label>
        <input asp-for="Entity.Title" class="form-control"/>
        <span class="text-danger" asp-validation-for="Entity.Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Entity.Description"></label>
        <input asp-for="Entity.Description" class="form-control"/>
        <span class="text-danger" asp-validation-for="Entity.Description"></span>
    </div>

    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-page="./List" class="btn btn-outline-secondary">Назад</a>
    </div>
</form>