@page "{id:int}"
@model Hostels.WebApp.Pages.Guides.HotelRoomTypes.Delete

<div class="alert alert-danger">
    Вы действительно хотите удалить данную запись?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Да!</button>
    <a asp-page="./List" class="btn btn-outline-secondary">Назад</a>
</form>